<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Add A Bet</h3>
  <form name="betForm" action="/tasks/add" method="post">

    <div class="mb-3">
      <input name="date" type="date" class="form-control bg-dark text-white" />
    </div>
    <select class="form-select bg-dark text-white" name="tournament">
      <option selected>Select Tournament</option>
      <option value="1">Serie A</option>
      <option value="2">Liga Betplay</option>
      <option value="3">FIFA</option>
    </select>
    <div class="mb-3 mt-2">
      <label for="inputEvent" class="form-label mb-0">Event</label>
      <input
        type="text"
        class="form-control mt-1 bg-dark text-white"
        name="event"
      />
      <div class="form-text">this information is optional</div>
    </div>

    <select class="form-select bg-dark text-white" name="strategy">
      <option selected>Select Strategy</option>
      <option value="1">Total Asiatico</option>
      <option value="2">Apuesta sin Empate</option>
      <option value="3">Ganador</option>
    </select>
    <div class="mb-3 mt-3">
      <label for="inputBetAmount" class="form-label mb-0">bet amount</label>
      <input
        type="number"
        class="form-control mt-1 bg-dark text-white"
        name="betAmount"
      />
    </div>
    <div class="mb-3 mt-3">
      <label for="inputCuota" class="form-label mb-0">Cuota</label>
      <input
        type="number"
        class="form-control mt-1 bg-dark text-white"
        name="cuota"
      />
    </div>
    <select class="form-select mb-3 bg-dark text-white" name="result">
      <option selected>Select Result</option>
      <option value="1">+100%</option>
      <option value="2">+50%</option>
      <option value="3">Null</option>
      <option value="1">-100%</option>
      <option value="2">-50%</option>
    </select>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" name="preRegistration" />
      <label
        class="form-check-label"
        for="inputPre-registration"
      >pre-registration</label>
    </div>
    <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">Add</button>
    </div>
  </form>
</div>